/* Imagebox Style4 */
body{
    font-family: 'Open Sans', sans-serif;
}
.display-grid{
    display: grid;
}
.imagebox.style4 {
	padding: 29px 16px 20px;
    text-align: left;
    border: 2px solid #e5e5e5;
    border-radius: 8px;
    min-height: auto;
	transition:all 0.3s ease-in-out;
}
img {
    max-width: 100%;
    height: auto;border: 0;
}

.imagebox:hover.style4 {
	border:2px solid #f28b00;
}

.imagebox.style4 .box-image {
	height: 110px;
    line-height: 108px;
    text-align: center;
    margin-bottom: 4px;
}

.imagebox .box-image a {
    position: relative;
    display: block;
}

.imagebox.style4 .box-content .cat-name a {
	font-size:12px;
	margin-left:2px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    margin-left: 2px;
}

.imagebox.style4 .box-content .product-name {
	min-height:66px;
	margin-top:4px;
	margin-left:2px;
}
.imagebox.style4 .box-content .product-name a {
    font-family: 'Open Sans', sans-serif;
    color: #484848;
    line-height: 22px;
    text-decoration: none;
	font-size:13px;
}
a {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.regular {
    color: #c5c5c5;
    font-size: 14px;
    text-decoration: line-through;
}

.imagebox.style4 .box-content .price .sale {
    font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	margin-right:10px;
    color: #f28b00;
    font-weight: 500;
}

.card{
    /* min-width: 300px;
    min-height: 400px; */
    width: 100%;
    /* height: 100%; */
    border: 1px solid #eee;
    overflow: hidden;
    padding: 10px;
    box-shadow: 2px 8px 20px #ddd;
    margin: 10px;
    transition: 0.5s linear;
}
.card:hover{
    box-shadow: none;
}
.card img{
    /* max-width: 300px; */
    width: 100%;
    height: 100%;
    /* max-height: 300px; */
    display: block;
    object-fit: cover;
}
.card h5{
    text-transform: uppercase;
    margin: 10px 0;
}
.card h5 a{
    text-decoration: none;
    color: #333;
}
.card h5 a:hover{
    color: crimson;
}
.card span{
    color: crimson;
}
.card p{
    margin: 10px 0;
}
.card button{
    border: none;
    font-size: 13px;
    outline: none;
    box-shadow: 2px 8px 20px rgb(102, 102, 102);
    background: #333;
    color: white;
    width: 100%;
    height: 40px;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 15px 0;
}